.user-banner-container {
    background-image: url('../UserProfilePage/banner1.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.user-info-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 12.5%;
    height: 100px;
    width: 70%;
    margin-left: 10%;
}

.user-profile-pic {
    background-image: url('../UserProfilePage/profile-pic.jpeg');
    background-position: center;
    background-size:cover;
    height: 90%;
    width: 10%;
    object-fit: contain;
    border-radius: 100%;
}

.user-detail-container {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 100%;
    
}

.user-detail h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.user-detail p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

.profile-row {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: row; */
}


.photostream-container, .albums-container, .favorites-container {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    height: 50px;
}

.photostream-container:hover, .albums-container:hover {
    text-decoration: none;
    color: black;
    border-bottom: 5px solid #128fdc;
}

#photostream-border {
    border-bottom: 5px solid #128fdc;
}
