/* flex works on the direct children only of a parent container*/
.photo-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background: #f3f5f6; */

}

.photo-container {
    background-color: #202023;
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photo-box {
    margin-top: 80px;
}

.photo-container img{
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 8px -4px #000;
}
.img-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    /* transition: all 1s ease-in; */

}

.img-modal-box {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;

}

.img-modal {
    width: 100%;
    height: 100%;

}


.fas.fa-compress-alt{
    position: absolute;
    color: white;
    font-size: 25px;
    cursor: pointer;
    top: 0;
    z-index: 7;
    margin-top: 3%;
    right: 0;
}




.photo-page-edit-delete {
    background-color: #202023;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

.photo-page-edit-delete i {
    color: white;
    font-size: 20px;
    margin: 0 20px 10px 10px;
    cursor: pointer;
}

.photo-page-edit-delete i:hover {
    color: rgb(189, 189, 189);
}

.photo-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.photo-info-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2em 4em 0 18em;
}

.photo-header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.photopage-user {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
}

.photopage-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}

.photopage-caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.link-user{
    color: #48D1CC;
    font-family: Arial, Helvetica, sans-serif;

}

.link-user:hover{
    color:rgb(171, 170, 170)
}


/* *************COMMENTS *****************************/
.comment-container {
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments-container {
    width: 100%;
    margin-bottom: 0.5em;
}

.comments-container h4{
    margin: 1em 0 2px 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.link-comment-user{
    text-decoration: none;
    color: #48D1CC;
}

.link-comment-user:hover {
    color:rgb(171, 170, 170)
}

.user-comment-info{
    display: flex;
    justify-content: space-between;
}


.user-comment-delete-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fas.fa-times, .far.fa-edit {
    text-align: center;
    text-decoration: none;
    padding: 0;
    border: none !important;
    background-color: white;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}

.fas.fa-times {
    font-size:20px;
}

.far.fa-edit {
    font-size: 18px;
}

.fas.fa-times, .far.fa-edit {
    color: rgb(145, 139, 139)
}

.fas.fa-times:hover, .far.fa-edit:hover {
    color: rgb(199, 199, 199);
}


.edit-form {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 40px;
}

.update-textarea textarea{
    width: 400px;
    height: 50px;

}

.update-bttn button {
  width: 405px;
  height: 30px;
  color: white;
  border: 0;
  background-color: rgb(171, 170, 170);
  cursor: pointer;
  margin-bottom: 5px;

}

.update-bttn button:hover {
    background-color: rgba(21,21,23,.95);
    text-shadow: 0 0 1px white;
}

.comment-p p {
    margin: 5px 0 0 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.comment-form-container {
    border-top: 1px solid rgb(226, 226, 226);
    margin-top: 20px;
    width: 100%;
}

.comment-textarea textarea{
    width:  100%;
    height: 2em;
    margin-top: 2em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.comment-textarea textarea:focus{
    outline: none;
}

.comment-textarea textarea::placeholder {
    color: rgb(197, 197, 197);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.post-comment-bttn {
    width: 100%;
    border: 0;
    margin-top: 0.5em;
    height: 35px;
    border-radius: 4px;
    background-color: #48D1CC;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.post-comment-bttn:hover {
    transition: 0.5s ;
    opacity: 0.7;
}

/* ***************** photo details ************** */
.photo-info-card-two{
    padding: 2em 4em 0;
    display: flex;
    flex-direction: column;
    width: 30%;


}

.photo-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 226, 226);

}

.photo-stats-container {
    display: flex;
    flex-direction: row;

}

.photo-stats {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    align-items: center;
}

.stats-count {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.stats-label {
    font-size: 15px;
    color: rgb(182, 181, 181);
    font-family: Arial, Helvetica, sans-serif;
}

.photo-created {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 2em;



}



.far.fa-copyright {
    font-size: 20px;
    margin-top: 0.5em;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    color: #006dac;
    margin-left: 0.5em;
    font-size: 15px;
}


@media screen and (max-width: 599px) {
    .photo-page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photo-container img{
        object-fit: contain;
        width: 95%;
        height: 100vh;
        margin-left: 13px;
    }

    .comment-textarea textarea{
        width: 450px;
        height: 80px;
    }

}
