/* flex works on the direct children only of a parent container*/
.photo-page {
    display: grid;
    grid-template-columns: 10fr 5fr;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.photo-container {
    background-color: #151617;
}

.photo-container img{
    object-fit: contain;
    width: 100%;
    height: 100vh;
}

.photo-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    padding: 20px;
}

.photo-header-container {
    text-align: center;
}

.photo-comments{
    overflow: auto;
    max-height: 100vh;
    width: 100%
}



.comments-container {
    overflow: scroll
}

@media screen and (max-width: 599px) {
    .photo-page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photo-container img{
        object-fit: contain;
        width: 95%;
        height: 100vh;
        margin-left: 13px;
    }

}
