.albums-gallery {
    background-color: #F3F5F6;
    height: 100%;
    width: 100%;
}
.create-album-div {
    display: flex;
    justify-content: flex-end;
    height: 10%;
    width: 100%;
    padding: 0;

}

.create-album-div button {
    border: 0;
    height: 40px;
    width: 9em;
    margin-right: 19.5%;
    margin-top: 2%;
    border-radius: 4px;
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    cursor:pointer;
    transition: 0.3s
}

.create-album-div button:hover {
    background-color: black;
}

.album-gallery-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.album-gallery-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
    margin-top: 2%;
    margin-left: 9%;
}

.album-box {
    border-radius: 3px;
    position: relative;
    width: 27%;
    height: 17em;
    margin-left: 20px;
    margin-bottom: 2em;
    display: flex;
    box-shadow: 0px 0px 2px 1px #9e9d9d;
    background-size: cover;
    cursor: pointer;
}

.album-content {
    color: white;
    margin-top: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}

.album-content p {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow-wrap: break-word;
}

.album-content-length {
    color: rgb(221, 221, 221);
    font-size: 10px;
}

/* ***** ALBUM MODAL ************ */
.create-album-container {
    background-color: white;
    width: 20%;
    height: auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-form h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
    text-align: center;
}

.album-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.album-form label {
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.album-form input, textarea {
    margin-bottom: 1em;
    border: 1px solid rgb(207, 207, 207);
    height: 1.7em;
    border-radius: 4px;
    width: 17em;
}

.album-form button {
    background-color: #48D1CC;
    border: 0;
    color: white;
    border-radius: 4px;
    margin: 2px;
    height: 2.2em;
    width: 100%;
    cursor: pointer;
    background-color: #cccccc;
    transition: 0.3s;
}

.album-form button:hover {
    background-color: black;
}

/* ***** ALBUM DELETE **********  */
.fas.fa-trash {
    font-size: 18px;
    cursor: pointer;
    margin-right: 5%;
    color: rgb(177, 177, 177);

}

.fas.fa-trash:hover {
    color: rgb(247, 247, 247);
}

.album-delete-bttn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5%;


}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
    width: 40%;
  }
