.fas.fa-upload {
  cursor: pointer;
}

.fas.fa-upload:hover {
  color: white;
  text-shadow: 0 0 3px white;
}

.photo-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 200px
}

.upload-form{
  display: grid;
  /* width: 700px; */
  height: 550px;
  grid-template-rows: 10fr 3fr 3fr 3fr;
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 0px 0px 3px 0px grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.upload-photo-box img {
  width: 100%;
  max-height: 200px;
  position: absolute;
  overflow: contain;
}

.upload-photo-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  padding: 70px;
}
.upload-photo-box p {
  margin-right: 20px;
}

.upload-or {
  text-align: center;
  margin-right: 40px;
  margin: 0 0;
}
.upload-imgURL-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upload-imgURL-box input {
  width: 100%;
  height: 28px;
}

.photo-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photo-input-container input {
  width: 100%;
}
.photo-input-container textarea {
  width: 100%;
  height: 50px
}

.photo-input-container input::placeholder, .photo-input-container textarea::placeholder, .upload-imgURL-box input::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}


.photo-input-container p {
  text-align: center;
  margin: 4px auto 4px 0;
  font-weight: 700;
  width: 100%;
}

.upload-buttons {
  display: flex;
  flex-direction: column;
}
.upload-buttons div{
  display:flex;
  justify-content: center;
  padding: 5px;
}
.upload-buttons button{
  width: 200px;
  height:32px;
  font-size: 14px;
  background-color: rgb(195, 188, 188);
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
}

.upload-buttons button:hover {
  background-color: rgba(21,21,23,.95);
}
