/* TODO Add site wide styles */
body {
    margin: 0px;
}

* a, * Link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: none;
}

Link:visited {
    text-decoration: none;
}
