.fas.fa-edit {
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 100

}

.edit-page-container{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
}

.photo-edit-form{
    margin-top: 20px;
    width:500px;
    padding: 35px;
    background-color: white;

    height: 200px;
}

.photo-input-container {
    margin-top: 5px;
    width: auto;
}

.photo-input-container input, .photo-input-container textarea{
    margin: 2px 0 2px 0;
    height: 28px;
    text-decoration-style: none;
    width: 100%;
    border:1px solid rgb(202, 202, 202);
    border-radius: 4px;
    padding: 5px;
}



.photo-input-container input::placeholder, .photo-input-container textarea::placeholder{
    padding: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.edit-form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.update-photo-button {
    padding: 1px;
}

.update-photo-button button {
    width: 15em;
    height: 30px;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 0;
    background-color: #48D1CC;
    color: white;
    border-radius: 14px;
    margin-top: 5px;
}

.update-photo-button button:hover {
    opacity: 0.7;
}

.edit-photo-container{
    margin-top: 20px;
    margin-left: 20px;
    padding: 30px;
    border-right: 1px solid lightgrey;
}

.edit-photo{
    max-height: 400px;
    width: auto;
    box-shadow: 0px 0px 3px 0px grey;

}

@media screen and (max-width: 599px) {
    .photo-edit-form{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .photo-input-container div input{
        width: 300px;
        margin: 0px;
    }

    .edit-page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
    }
    .edit-form-buttons {
        margin: 0;
        width: 100%;
    }
    .update-photo-button button {
        margin: 0;
        width:  100%;
    }

    .photo-details {
        margin: 0;
        padding: 0;
        height: 3px;
        width: auto;
    }

    .comment-container {
        width: 450px;
    }

    .edit-photo-container {
        visibility: hidden;

    }
    .edit-photo-container img {
        visibility: hidden;

    }
}
