.title-container{
  width: auto;
  height: 60px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F3F5F6;
}

.header-div h1{
    font-family: helvetica;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #202023;
    padding-bottom: 20px;
}

.gallery-page {
  line-height: 0;
  -webkit-column-count:4; /* split it into 5 columns */
  -webkit-column-gap:4px; /* give it a 5px gap between columns */
  -moz-column-count:4;
  -moz-column-gap:4px;
  column-count:4;
  column-gap:5px;
  background-color: #F3F5F6;
  padding: 2%;
}

.gallery-page .gallery-box {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0.5%;
}

.gallery-page .gallery-box .img-box {
  position: relative;
  overflow: hidden;
}

.gallery-page .gallery-box .img-box img {
  transition: transform 2s;
  margin-bottom: 5px;
  width: 100% !important;
  height: auto !important;
  box-shadow: 0 1px 1px 2px rgb(0 0 0 / 15%);
  border-radius: 2px;
}

.gallery-page .gallery-box:hover .img-box img {
  transform: scale(1.2);
  opacity: 0.5
}

.gallery-page .gallery-box:hover .photo-content {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  color: black;
}
.gallery-page .gallery-box:hover .photo-content p {
  line-height: 1;
  word-break: break-all;
  font-weight: 600;
  font-family: Helvetica;
  font-size: 17px;
}

.gallery-page .gallery-box .photo-content {
  position: absolute;

}


@media (max-width: 1200px) {
  .gallery-page {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}

@media (max-width: 1000px) {
  .gallery-page {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}

@media (max-width: 800px) {
  .gallery-page {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}

@media (max-width: 400px) {
  .gallery-page {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}
