.login-form-container {
  background-image: url(annie-spratt-qyAka7W5uMY-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

