.nav-link {
    /* take away underline */
    text-decoration: none;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 20px
}

.nav-link:hover {
    color: white;
  text-shadow: 0 0 3px white;
}


.nav-container {
    background-color: rgb(19, 17, 17);
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    position: relative;
    width:100%;

}

.upload-profile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* align-tem :for vertical and up /down*/
/* justify: for horizonatal left/right */


.upload-button, #profile-button{
    padding: 10px;
    background: none;
    border: none;
    position: relative;
}


.fas.fa-upload {
    font-size: 25px;
    color: white;
}

/*************PROFILE BUTTON************** */

.far.fa-user-circle {
    font-size: 30px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.far.fa-user-circle:hover {
    color: white;
  text-shadow: 0 0 3px white;
}


.profile-dropdown {
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    position: absolute;
    width: auto;
    border-radius: 2px;
}

.dropdown-p p {
    margin: 5px 0 5px 0;
    font-weight: 500;
    font-family: Helvetica;
}


.dropdown-div:hover div {
    margin-bottom: 4px;
}

.dropdown-div:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}
